.header {
  padding: 20px 0;
  color: #ffffff;
  background-color: #1a7991;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #DB162F;
  margin-bottom: 40px;
}
.bn {
  background-color: #b0f595;
  border-radius: 5px;
  width: 8em;
  border: 1px solid #1d3577;
}   