.searchbox button {
    border: 1px solid #1d3577;
    background-color: #1a7991;
    color: #ffffff;  
    width: 8em;  
}

.searchbox button:hover {
    background-color: #18e67f;
    color: #ffffff;
}
.form-inline {
    float: left;
    position: relative;
    left: 40%;
}
.space { 
 margin-top: 5rem;
 margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
    .form-inline {
        float: left;
        position: relative;
        left: 0px;
    }
    
}